// _tagPreset
// ---------------------------------------------------------------------------//

*{
	/* IMPORTANT - Apply Border box styling to all elements */
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

html,body,h1, h2, h3, h4, h5, h6 , figure, article,p ,iframe{
	margin: 0;
	padding: 0;
	border: 0; 
}
img, embed, object, video{
	max-width:100%;	
}
img{
	vertical-align: top; /* Gets rid of extra space at the buttom of image */	
	max-width:100%;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a { /* Used to ensure links are clickable on smaller devices */ 
	min-width:48px;
	min-height:48px;
}
button:focus, button:hover{
	outline:none;
}
button{
	border:none;
}